*
{
	margin: 0;
	padding: 0;
}
html, body

{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	scroll-behavior: 
}

.background
{
	background-image: url(../images/1.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

.navigation
{
	width: 350px;
	height: auto;
	position: absolute;

	top: 20%;
	left: 20px;
}

.navigation a
{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: normal;
	height: 95px;
	margin: 10px;
	float: left;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}

a.active, .navigation a:hover
{
	background-color: white;
	color: black;
	width: 100%;
}

.a
{
	width: 95%;
}
.b
{
	width: 85%;
}
.c
{
	width: 80%;
}
.d
{
	width: 90%;
}

.content
{
	position: absolute;
	width: 930px;
	min-height: 500px;
	height: auto;
	/*background-color: red;*/
	right: 0;
	top: 20%;
}

.home
{
	position: absolute;
	right: 0;
	bottom: 0;
	color: black;
	font-weight: normal;
	font-family: verdana;
}

.home h1
{
	font-size: 56px;
	padding-right: 60px;
	text-transform: uppercase;
}

.home h2
{
	font-size: 28px;
	padding: 5px,0;
	opacity: 0.6;
}

.about
{
	position: absolute;
	right: 0;
	top: 10px;
	color: black;
	font-weight: normal;
	font-family: century gothic;
	padding: 0 60px;
	display: none;

}