*
{
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	height: 100%
	font-size: 14px;
	font-weight: normal;
}

.background
{
	width: 100%;
	height: 100%;
	background-image: url(../images/perfect.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}